
.uploadBG{
    background: #FFF7EF;
    width: 100vw;
    height: 100vh;
}
.box{
    display: flex;
    background-color:white;
    border-radius: 15px;
    
    margin-left: 80px;
    align-items: center;
    justify-content: center;

}
.title{
    margin-top: 10px;
    justify-content:left;
    font-weight: bold;
    font-size: x-large;
    color: #FFBA94;
    text-align: center;
}
.text{
    color: rgb(125, 125, 125);;
    font-weight: bold;
    width: 590px;
    height: 250px;
    font-family: 'Spoqa Han Sans Neo';
    margin: 10px;
}
.inputText{
    height: 30px;
    border: none;
    border-radius: 4px;
    border-radius: 10px;
    color:gray;
}
.submitButton{
    background-color: #FFBA94;
    color: #FFF7EF;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-family: 'Spoqa Han Sans Neo';
    align-content: center;
    font-weight: 700;
}
hr{
    width: 650;
    position: absolute;
    top:355px;
    right:198px;
    z-index: 1;
    height: 2px;
    background-color: #FFBA94;
    border: none;
}