.uploadBG{
    background: #FFF7EF;
    width: 100vw;
    height: 100vh;
}
.box{
    display: flex;
    background-color:white;
    height: 140px;
    width: 140px;
    border-radius: 15px;
    width:500px;
    height:500px;
    margin-left: 80px;
    align-items: center;
    justify-content: center;

}
.title{
    display: flex;
    justify-content:left;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
    color: #FFBA94;
}