.postReviewBG {
  background: #fff7ef;
  width: 100vw;
  height: 100vh;
}

.Box {
  display: inline-flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
  background: #ffffff;
  border-radius: 25px;
}

.fileSize {
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.Boxs {
  width: 200px;
  height: 200px;
  background: #ffffff;
  border-radius: 10px;
}

.column {
  flex-direction: column;
  justify-items: center;
  float: left;
  margin: 200px 270px 0 30px;
  width: 400px;
  height: 503px;
}

.info {
  margin: 200px 150px 150px 150px;
  width: 1200px;
}

.line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.TextI {
  color: rgb(125, 125, 125);
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
}

textarea:focus {
  outline: none;
}

.Write1 {
  border-radius: 8px;
  border-color: transparent;
  width: 100px;
  height: 30px;
  resize: none;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
  text-align: center;
}

.Write2 {
  border-radius: 8px;
  border-color: transparent;
  width: 300px;
  height: 30px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
  text-align: center;
}

.Write3 {
  border-radius: 8px;
  border-color: transparent;
  width: 300px;
  height: 30px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
  text-align: center;
}

.textArea {
  width: 590px;
  height: 250px;
  border: none;
  border-radius: 8px;
  padding: 5px;
  resize: none;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
}

.File {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
}